
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

#h1 {
    color:  #ffebcd;
}

 #buyButton{
    background-color: #ffebcd;
    border: 1px solid #a2ded5;
     font-family: 'Roboto', sans-serif;
     border: 2px #7f3fbb;
     width: 60%;
     font-size: 18px;
}

 #loanButton, #repayLoanButton{
     background-color: #ffebcd;
     border: 1px solid #a2ded5;
     width: 80%;
}
 #bankButton{
     margin-left: auto;
     padding-left: 5%;
    background-color: #ffebcd;
    border: 1px solid #a2ded5;
}
 #workButton{
     margin-left: 20%;
    background-color: #ffebcd;
    border: 1px solid #a2ded5;
}
 #workBankButtons, #workButton{
    background-color: #ffebcd;
    border: 1px solid #a2ded5;
     width:48.5%;
}
 .workBankButtons{
     width:80%;
     margin-left: 10%;
     margin-bottom: 2%;
}

 .body{
     background-color:#303030;
     font-family: 'Roboto', sans-serif;
}
 .container{
     width:80%;
     margin-left: 10%;
}
 .laptopContainer{
     width: 80%;
     margin-left: 10%;
}
 #card{
     background-color: #181818;
     border-radius:15px;
     border: solid;
     color: #ffebcd;
}
 .card-title{
     font-family: 'Roboto', sans-serif;
     text-transform: uppercase;
}
 footer{
     width:100%;
     margin-left: 0%;
}
 .footer {
    

     width: 100%;
     color: black;
     text-align: center;
     margin-top: 3%;
     margin-bottom: 3%;
     position:static;
     left: 0;
     bottom: 0;
}
 #selectLaptop{
    background-color: #ffebcd;
    border: 1px solid #a2ded5;
    height:15%;
    border-radius:5px;
    padding-left: 8%;
     width: 80%;
     margin-left:10%;
     margin-top: 1%;
    
}
 .features{
     margin-top: 5%;
     margin-bottom: 5%;
}
 .features p{
     margin-bottom: 0.2%;
     font-size: 16px;
}
 hr {

     margin-right: auto;
     margin-left: auto;
     margin-top: 10px;
     margin-bottom:10px;
     width: 80%;
     height: 10px;
     border: 0 none;
     background-color: #ffebcd;
}
 .cardContent{
     width:80%;
     margin-left: 10%;
}
 #laptopPrice{
     font-size: 22px;
}
 #personName, #titleText{
     font-size: m;
}
 #laptopName{
     font-size: 20px;
}
 .showLaptopDetails{
     margin-top: 2.5%;
}
 #priceSection, #infoSection{
     align-self: center;
}
 #laptopImage{
     width:50%;
}

#extraContent{
    margin-top: 2%;
}

